.mobile-floating-cta {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  //background-image: url("../img/inner-page-cta-bg.svg");
  background-image: url("../img/inner-page-cta-bg-w2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  //background-size: contain;
  background-position: 0 0;
  //background-color: #fff;
  min-height: 180px;
  z-index: 999;
  // move content to bottom right
  //justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;

  @include sm {
    display: flex;
    //background-size: contain;
    background-position: center 0;
  }

  @include rwd(450) {
    min-height: 160px;
  }

  @include rwd(400) {
    min-height: 150px;
  }

  #mobile-cta-close {
    position: absolute;
    right: -5px;
    top: 10px;
  }

  .content-wrap {
    padding: 20px;
    margin-left: 30%;
    position: relative;

    .content {
      width: auto;
      //background-color: pink;
      display: inline-block;
    }
  }

  h2 {
    font-size: 14px;
  }

  .btn {
    font-size: 13px;
    line-height: 15px;
    padding: 10px 15px;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}
