.current-page-nav {
  padding: 64px 50px 50px 50px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;
  display: none;

  .sticky-top {
    top: 130px;
  }

  .active-page-logo {
    max-width: 305px;
    margin-bottom: 78px;

    img {
      width: 100%;
    }
  }

  .title {
    color: #0C58CA;
    //font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 34px;
  }

  .sidebar-page-indicator {
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    display: inline-flex !important;
    width: auto;
    min-width: 300px;

    .logo-mobile {
      display: block;
      img {
        max-width: 45px;
      }
    }
    .logo {
      img {
        max-width: 30px;
      }
    }
  }
}

#current-page-nav-links {
  .nav-link {
    padding-left: 30px;
    font-style: normal;
    //font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #161344;
    position: relative;

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 0 8px 15px;
      border-color: transparent transparent transparent #C4C4C4;
      position: absolute;
      left: 0; top: 50%;
      transform: translateY(-50%);
    }

    &.active,
    &:hover {
      color: #226AD7;

      &:after {
        border-color: transparent transparent transparent #16C7DF;
      }
    }
  }
}

// sidebar hidden state
.sidebar-is-hidden {
  .current-page-nav {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
