.section-customer-cta {
  background-image: url("../img/pattern-bg.svg");
  padding: 80px 0 132px 0;

  @include md {
    padding: 50px 0;
  }

  h2 {
    font-size: 36px;

    @include md {
      font-size: 22px;
    }

    @include sm {
      font-size: 16px;
    }
  }

  .illustration {
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }

    @include sm {
      max-width: 50px;
    }
  }

  .cta {
    margin-top: 60px;
    @include md {
      margin-top: 20px;
    }

    .btn {
      min-width: 190px;
      margin: 0 60px;

      @include md {
        min-width: 70px;
        margin: 0 10px;
        font-size: 13px;
        line-height: 15px;
      }
    }
  }
}
