.header-height-offset {
  height: 50px;
  width: 100%;

  @include md {
    height: 60px;
  }
}

.section-hero {
  background: $bg-dark-gradient;
  height: 700px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;

  @include md {
    min-height: 100vh;
  }

  h1 {
    font-family: $heading-font-special;
    font-size: 55px;
    margin: 31px 0 12px 0;

    @include md {
      font-size: 33px;
      margin: 25px 0 !important;
    }

    @include sm {
      font-size: 20px;
      margin: 25px 0 !important;
    }
  }

  .illustration {
    // background-color: pink;
    max-width: 580px;
    text-align: left;
    margin: 0 auto;

    img {
      width: 90%;
    }
  }

  p {
    font-size: 28px;
    max-width: 960px;
    margin: 0 auto;
    @include md {
      display: none;
    }
  }

  &-sm {
    height: 450px;

    h1 {
      @include md {
        margin-top: 0;
      }
    }

    @include md {
      height: auto;
      min-height: 176px;
      padding-bottom: 35px;
    }

    .cta {
      margin-top: 50px;

      @include md {
        margin-top: 10px;
      }

      .btn {
        min-width: 340px;

        @include md {
          min-width: 10px;
          width: 100%;
          font-size: 13px;
          line-height: 15px;
          padding: 10px 7px;
        }

        &.active {
          background-color: #ffd400;
        }
      }

      .dropdown-toggle {
        &:hover {
          background-color: #fff;
          border-color: #fff;
          &.active {
            border-color: #ffd400;
            background-color: #ffd400;
          }
        }
      }

      .button-wrap {
        margin: 0 30px;

        @include md {
          width: 48.5%;
          margin: 0 5px;
        }
      }

      .dropdown-menu {
        width: 100%;
      }

      @include md {
        .dropdown-toggle::after {
          height: 10px;
          width: 13px;
          margin-left: 7px !important;
          background-size: contain;
        }
      }
    }
  }
}


.hero-home {
  @include md {
    .container {
      background-image: url("../img/bg-mobile-service-select.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center 100%;
      padding-bottom: 25px;
    }
    .col {
      display: flex;
      flex-wrap: wrap;
      //padding: 0 42px;
    }
    div,h1,h2,p {
      width: 100%;
    }
    h1,h2,p {
      padding: 0 20px;
    }
    .illustration {
      order: 10;
      margin-top: 30px;
      padding: 0 20px;
    }
    .service-select-mobile {
      order: 15;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 3px;
      padding: 21px 10px;
      h2 {
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: #12122E;
        max-width: 272px;
        margin: 0 auto;
      }
      .cta {
        margin-top: 20px;
        .btn {
          width: 48.5%;
          font-size: 13px;
          line-height: 15px;
          padding-left: 7px;
          padding-right: 7px;
        }
      }
    }
    h1 {
      margin-top: 0;
    }
    // responsive

    .row {
      margin: 0;
    }
  }
}
