.page-full-content {
  margin: auto;
}

.page-full-content,
.page-content {
  max-width: 776px;
  width: 60%;
  padding: 38px 50px 50px 50px;
  line-height: 28px;

  @include md {
    width: 100%;
    max-width: 100%;
    padding: 35px 21px;
  }

  .breadcrumb {
    margin-bottom: 60px;
    @include md {
      margin-bottom: 30px;
    }
  }

  h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    @include md {
      font-size: 18px;
    }
  }

  h3,h4 {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    @include md {
      font-size: 16px;
    }
  }

  h2,h3,p,table,ol,ul {
    margin-bottom: 40px;
  }
  h4 {
    margin-bottom: 25px;
  }
  ol {
    //padding: 0;
    margin-bottom: 30px;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #078EA6;
}

.breadcrumb {
  &-item {
    color: #078EA6;
    font-style: italic;
    text-decoration: none;
    //font-weight: bold;

    @include md {
      font-size: 12px;
    }

    &:before {
      color: #078EA6;
    }

    &.active {
      a {
        color: #242466;
      }
    }

    a {
      text-decoration: none;
      color: #078EA6;
      //font-weight: bold;

      &:hover {
        color: #3491FF;
      }
    }
  }
}

// --- top level links
.top-level-links {
  .page-title {
    font-size: 36px;

    @include md {
      font-size: 30px;
    }

    @include sm {
      font-size: 26px;
    }
  }

  .sub-links {
    padding-left: 5px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    list-style: none;

    .btn-link {
      display: block;
      font-size: 16px;
      line-height: 21px;
      margin-bottom: 14px;
      padding-left: 31px;
      position: relative;
      text-decoration: none;

      @include md {
        //padding-left: 25px;
        font-size: 14px;
        display: inline-flex;
        padding: 9px 20px 7px 31px;
        margin-bottom: 5px;
      }

      &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 0 6px 12px;
        border-color: transparent transparent transparent #455A64;
        position: absolute;
        left: 0; top: 50%;
        background-color: transparent;
        transform: translateY(-50%);
        transition: background-color .3s ease-in-out;

        @include md {
          border-width: 6px 0 6px 12px;
          left: 0;
        }
      }

      &.active,
      &:hover {
        color: #3D80E3;

        @include md {
          background: rgba(200, 222, 255, 0.19);
        }

        &:after {
          border-color: transparent transparent transparent #16C7DF;
        }
      }
    } // ---- end btn link
  } // ---- sub links
}

// --- top level links
#TableOfContents {
  ul, ol {
    padding-left: 5px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    list-style: none;

    li a {
      display: block;
      font-size: 16px;
      line-height: 21px;
      margin-bottom: 14px;
      padding-left: 31px;
      position: relative;
      text-decoration: none;

      @include md {
        //padding-left: 25px;
        font-size: 14px;
        display: inline-flex;
        padding: 9px 20px 7px 31px;
        margin-bottom: 5px;
      }

      &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 0 6px 12px;
        border-color: transparent transparent transparent #455A64;
        position: absolute;
        left: 0; top: 50%;
        background-color: transparent;
        transform: translateY(-50%);
        transition: background-color .3s ease-in-out;

        @include md {
          border-width: 6px 0 6px 12px;
          left: 0;
        }
      }

      &.active,
      &:hover {
        color: #3D80E3;

        @include md {
          background: rgba(200, 222, 255, 0.19);
        }

        &:after {
          border-color: transparent transparent transparent #16C7DF;
        }
      }
    } // ---- end btn link
  } // ---- sub links
}
