.release-note,
.release-page {
	.glyphicons-cloud-download {
		float: right;
	}

	h4,
	.glyphicons-cloud-download {
		font-size: 1.3rem;
	}

	h5 {
		font-size: 1.1rem;
	}

	ul {
		list-style: none;
		padding-inline-start: 0;
		margin: unset;

		li,
		p{
			font-size: 1em;
      margin-bottom: 0;
		}
	}

	.alert {
		margin: 1rem 0;
	}

	&.head {
		.glyphicons-cloud-download {
			font-size: 30px;
		}
	}
}

.release-note {
	margin: 20px 0;
	padding: 10px;
}

.upgrade-paths {
  ul {
    list-style: none;
    padding-inline-start: 0;
  }
}
