#sidebar {
  background: rgba(200, 222, 255, 0.25);
  //max-width: 723px;
  //width: 37.65%;
  min-width: 350px;
  width: calc((100vw - 1300px) / 2);
  padding: 26px 45px 26px 26px;
  position: relative;

  display: flex;
  justify-content: flex-end;
  transition: all .3s ease-in-out;

  @include rwd(1800) {
    padding: 26px 45px 26px 26px;
  }

  @include md {
    justify-content: flex-start;
    position: fixed;
    z-index: 9999;
    background-color: #fff;
    width: 100%;
    left: -150%;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 18px 26px 26px 26px;
    transition: all .3s ease-in-out;

    overflow: auto;
  }

  .sidebar-content {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in-out;

    @include md {
      width: 100%;
    }
  }

  #sidebar-collapse-trigger {
    position: absolute;
    right: -18px;
    top: 35px;

    @include md {
      right: 10px;
    }

    img {
      background-color: #fff;
      border-radius: 50%;
    }
  }

  .sidebar-illustration {
    max-width: 215px;
    margin-bottom: 45px;

    @include md {
      display: none;
      margin: 0;
    }

    img {
      width: 100%;
    }
    svg {
      max-width: 215px;
      max-height: 200px;
    }
  }
}

.sidebar-page-indicator {
  margin-bottom: 37px;

  @include md {
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    padding: 10px 15px;
    display: inline-flex !important;
    width: auto;
  }

  .logo-mobile {
    display: none;
    border-right: 1px solid #c4c4c4;
    margin-right: 10px;
    padding-right: 5px;

    img {
      width: 35px;
      height: auto;
    }
    @include md {
      display: block;
    }
  }

  .logo {
    margin-right: 17px;
    img {
      @include md {
        width: 30px;
        height: auto;
      }
    }
  }

  .text {
    font-size: 16px;
    line-height: 21px;

    @include md {
      font-size: 13px;
      line-height: 16px;
    }
  }
}

.sidebar-menu-links {
  .menu-item {
    margin-bottom: 17px;

    @include md {
      margin-bottom: 10px;
    }

    .btn-link {
      padding-left: 30px;
      position: relative;

      @include md {
        //padding-left: 25px;
        display: inline-flex;
        padding: 9px 20px 7px 50px;
      }

      &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 0 6px 12px;
        border-color: transparent transparent transparent #455A64;
        position: absolute;
        left: 0; top: 50%;
        background-color: transparent;
        transform: translateY(-50%);
        transition: background-color .3s ease-in-out;

        @include md {
          border-width: 6px 0 6px 12px;
          left: 25px;
        }
      }

      &.active,
      &:hover {
        color: #3D80E3;

        @include md {
          background-color: rgba(200, 222, 255, 0.19);
          padding-right: 45px;
          background-position: calc(100% - 15px) center;
        }

        &:after {
          border-color: transparent transparent transparent #16C7DF;
        }
      }
    }
  }

  a.btn-link {
    font-size: 18px;
    line-height: 24px;
    color: #161344;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;

    @include md {
      font-size: 16px;
    }
  }

  .has-sub-items {
    & > .btn-link {
      padding-right: 30px;
      background-repeat: no-repeat;
      background-position: 99% center;
      //@include md {
      //  background-size: 0;
      //}
    }

    [aria-expanded="false"] {
      background-image: url("../img/icon-plus.svg");
    }

    [aria-expanded="true"] {
      background-image: url("../img/icon-minus.svg");
    }

    .sub-links {
      padding-left: 35px;
      margin-top: 25px;
      display: flex;
      flex-direction: column;

      @include md {
        display: inline-flex;
      }

      .btn-link {
        display: block;
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 14px;
        padding-left: 31px;

        @include md {
          //padding-left: 25px;
          font-size: 14px;
          display: inline-flex;
          padding: 9px 20px 7px 50px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.sidebar-mobile-links {
  hr {
    background: #C4C4C4;
  }

  .links {
    padding-left: 40px;
    padding-top: 10px;
  }

  a {
    color: #161344;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
  }

  .cta {
    margin-top: 20px;
    padding-bottom: 50px;
  }
}

// ------ sidebar hidden state
.sidebar-is-hidden {
  #sidebar {
    //max-width: 363px;
    //width: 18.9%;
    min-width: 1px;
    width: calc((100vw - 1300px) / 2);
    background-color: transparent;

    @include md {
      left: 0;
      max-width: 100%;
      width: 100%;
    }

    .sidebar-content {
      opacity: 0;
      visibility: hidden;
    }
  }

  .icon-close {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  .icon-open {
    display: inline-block;
    opacity: 1;
    visibility: visible;

    @include md {
      display: none;
    }
  }
}
.icon-close {
  display: inline-block;
  opacity: 1;
  visibility: visible;

  @include md {
    display: none;
  }

  &-mobile {
    display: none;
    width: 20px;
    height: auto;

    @include md {
      display: inline-block;
    }
  }
}
.icon-open {
  display: none;
  opacity: 0;
  visibility: hidden;
  @include md {
    display: none;
  }
}


.sidebar-mobile-visible {
  #sidebar {
    @include md {
      left: 0;
      max-width: 100%;
      width: 100%;
    }
  }
}
