{{ define "content" }}
<div class="text-center">
	{{ .Content }}
</div>
{{ $currentpage := . }}
{{ $filteredPages := slice }}
{{ range $page  := sort .Pages "Date" "desc" }}
	{{ if isset $page.Params "supports" }}
		{{ .Scratch.Set "show" (or (eq $page.Params.supports.server (not .Site.Params.isCloud)) (eq $page.Params.supports.cloud .Site.Params.isCloud)) }}
	{{ else }}
		{{ .Scratch.Set "show" true }}
	{{ end }}
	{{ if .Scratch.Get "show" }}
		{{ $filteredPages = $filteredPages | append $page }}
	{{ end }}
{{ end }}
{{ range $filteredPages }}
	{{ $version := .File.BaseFileName }}
	{{ $versionId := replace $version "." "-" }}
	<div class="release-note">
		{{ $dlParam := cond (isset .Params "dl") .Params.dl "dl" }}
		{{ $dlVersion := cond (isset .Params "version") .Params.version $version }}
		{{ if isset $currentpage.Params $dlParam }}
		<a href="{{ replace (index $currentpage.Params $dlParam) "$version" $dlVersion }}">
			<span class="glyphicons glyphicons-cloud-download"></span>
		</a>
		{{ end }}
		{{ if eq .Layout "none" }}
		<h2 id="r{{ $versionId }}">{{ .Title }} ({{ .Date.Format "2 Jan, 2006" }})</h2>
		{{ else }}
		<a class="h2" href="{{ .RelPermalink }}" id="{{ $version }}">{{ .Title }} ({{ .Date.Format "2 Jan, 2006" }})</a>
		{{ end }}
		{{ .Content }}
	</div>
	{{ end }}
{{ end }}

{{ define "tocTitle" }}
Releases
{{ end }}

{{ define "toc" }}
	{{ $filteredPages := slice }}
	{{ range $page  := sort .Pages "Date" "desc" }}
		{{ if isset $page.Params "supports" }}
			{{ .Scratch.Set "show" (or (eq $page.Params.supports.server (not .Site.Params.isCloud)) (eq $page.Params.supports.cloud .Site.Params.isCloud)) }}
		{{ else }}
			{{ .Scratch.Set "show" true }}
		{{ end }}
		{{ if .Scratch.Get "show" }}
			{{ $filteredPages = $filteredPages | append $page }}
		{{ end }}
	{{ end }}

	{{ range first 20 $filteredPages }}
		<a class="nav-link" href="#r{{ replace .File.BaseFileName "." "-" }}">{{ .Title }}</a>
	{{ end }}
	{{ $older := $filteredPages | symdiff (first 20 $filteredPages)}}
	{{ if $older }}
		{{ range first 1 $older }}
			<a class="nav-link" href="#r{{ replace .File.BaseFileName "." "-" }}">Older</a>
		{{ end }}
	{{ end }}
{{ end }}
