{{ define "content" }}
<div class="text-center head release-page">
	{{ $version := .File.BaseFileName }}
	{{ if isset .Parent.Params "dl" }}
	<a href="{{ replace .Parent.Params.dl "$version" $version }}">
		<span class="glyphicons glyphicons-cloud-download"></span>
	</a>
	{{ end }}
	<h1>{{ .Parent.Title }} - {{ .Title }}</h1>
</div>
<div class="release-note">
	{{ .Content }}
</div>
{{ end }}
