// ----- heading fonts import
@font-face {
  font-family: 'ChunkFive Ex';
  src: url('../fonts/chunkfive-ex/chunkfive-ex.ttf');
  font-weight: bold;
  font-style: normal;
}

// ----- button fonts import
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/helveticaneue/helveticaNeueMedium.ttf');
  font-weight: normal;
  font-style: normal;
}

@import 'fonts/glyphicons-filetypes';
@import 'fonts/glyphicons-halflings';
@import 'fonts/glyphicons-social';
@import 'fonts/glyphicons';
@import 'fonts/line-awesome';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
