//$body-bg: #000;
//$body-color: #111;
$primary: #FFD400;
$btn-hover-color: #FFB800;
$body-color:#12122E;

$btn-link-color: #181840;

$bg-dark-gradient: linear-gradient(180deg, #161639 0%, #11112B 100%);
$text1: #12122E;
$text2: #313131;

$font-family-base: 'Poppins', sans-serif;
$headings-font-family: 'Poppins', sans-serif;
$btn-font-family: 'Poppins', 'Poppins', sans-serif;

$heading-font-special: 'ChunkFive Ex', serif;

$headings-font-weight: 800;
$headings-color: #12122E;

$code-color: $text2;

$link-color: #226AD7;
$link-decoration: none;
$link-hover-color: #3491FF;
$link-hover-decoration: none;

$alert-margin-bottom: 40px;
