<!doctype html>
<html class="no-js"{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>

{{ partial "head" . }}

<body class="page-inner{{ with .Page.File }} {{ .BaseFileName }}{{ end }}{{ with .Page.Params.bodyClass }} {{ . }}{{ end }}"
			data-bs-spy="scroll" data-bs-target="#current-page-nav-links" data-bs-offset="130">

  {{ block "header" . }}
	<!-- ======= START site header ======= -->
	{{ partial "header.html" .Site }}
	<!-- ======= END site header ======= -->
	{{ end }}

	{{ block "main" . }}
	<main role="main">

		<!-- ======= START section:hero ======= -->
		<section class="section section-hero section-hero-sm section-hero-inner-page">
		  <!-- header height offset -->
		  <div class="header-height-offset"></div>
		  <!-- // header height offset -->
		  <div class="container">
		    <div class="row">
		      <div class="col text-center">
		        <h1 class="text-light">{{ .Title }}</h1>
		        <div class="cta d-flex justify-content-center">
		          <div class="button-wrap">
								{{ $cloudDocsUrl := (cond (.Site.Params.isCloud) .Site.BaseURL .Site.Params.cloudDocsBaseUrl) }}
		            <a href="{{ $cloudDocsUrl }}" class="btn btn-white{{ if .Site.Params.isCloud }} active{{ end }}">Cloud</a>
		          </div>
		          <div class="button-wrap">
		            <div class="dropdown">
		              <button class="btn btn-white dropdown-toggle{{ if not .Site.Params.isCloud }} active{{ end }}" type="button" id="versionsDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
		                Data Center/Server
		              </button>
									{{ $docsBaseUrl := (cond (not .Site.Params.isCloud) (relURL "../") .Site.Params.onPremiseDocsBaseUrl) }}
									{{ $version := (cond (not .Site.Params.isCloud) (path.Base .Site.BaseURL) "Cloud") }}
		              <ul class="dropdown-menu" id="versionsDropdown" aria-labelledby="versionsDropdownButton" data-version-baseurl="{{ $docsBaseUrl }}" data-current-version="{{ $version }}">
		                <li><a class="dropdown-item disabled" href="#">Versions</a></li>
		                {{ if not .Site.Params.isCloud }}
		                <li><a class="dropdown-item" href="{{ relURL "" }}">{{ $version }}</a></li>
		                {{ else }}
		                <li><a class="dropdown-item" href="{{ $docsBaseUrl }}latest">Latest</a></li>
		                {{ end }}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ======= END section:hero ======= -->

		<section class="page-sidebar-content-wrap">
			<!-- ======= START section:sidebar ======= -->
			<aside role="complementary" id="sidebar" class="sidebar">
				<!-- sidebar collapse icon -->
				<div id="sidebar-collapse-trigger">
					<img class="icon-close-mobile" src="{{ (resources.Get "img/sidebar-close-mobile.svg").Permalink | relURL }}" alt="Hide sidebar">
					<img class="icon-close" src="{{ (resources.Get "img/sidebar-collapse-trigger.svg").Permalink | relURL }}" alt="Hide sidebar">
					<img class="icon-open" src="{{ (resources.Get "img/sidebar-open.svg").Permalink | relURL }}" alt="Show sidebar">
				</div>
				<!-- // sidebar collapse icon -->

				<div class="sidebar-content">
					<!-- active page indicator - cloud/data -->
					{{ partial "page-indicator.html" . }}
					<!-- // active page indicator - cloud/data -->

					<!-- active page subject corresponding illustration -->
					{{ partial "sidebar-illustration.html" . }}
					<!-- active page subject corresponding illustration -->

					<!-- sidebar links for page: desktop+mobile -->
					{{ partial "sidenav.html" .}}
					<!-- // sidebar links for page: desktop+mobile -->

					<!-- sidebar-mobile-links -->
					<div class="sidebar-mobile-links visible-md">
						<hr>
						<div class="links d-flex flex-column">
							<a href="https://marvelution.com/support/">Support</a>
							<a href="https://marvelution.com/faq/">FAQ</a>
							<a href="https://marvelution.com/about/">About</a>
							<a href="https://marvelution.com/contact/">Contact</a>
						</div>
						{{ with .Site.Params.tryItLink }}
						<div class="cta">
							<a class="btn btn-primary" href="{{ . }}" target="_blank">Try it free</a>
						</div>
						{{ end }}
					</div>
					<!-- sidebar-mobile-links -->
				</div>
			</aside>
			<!-- ======= END section:sidebar ======= -->

			<!-- ======= START section:page content ======= -->
			<section id="page-content" class="page-content">
				<!-- breadcrumb -->
				{{ partial "breadcrumbs.html" . }}
				<!-- // breadcrumb -->

				<!-- page content wrap -->
				<div class="page-content-wrap">
					<!-- scroll tracker -->

					<!-- start page content -->
					<div>
						{{ block "content" . }}{{ end }}
					</div>
					<!-- // end page content -->

				</div>

				{{ partial "prevnext.html" . }}
				<!-- // page content wrap -->
			</section>
			<!-- ======= END section:page content ======= -->

			<!-- ======= START section:current page navigation ======= -->
			<nav class="current-page-nav" id="current-page-nav">
				<div class="sticky-top">
					<div class="active-page-logo">
						<!-- active page indicator - cloud/data -->
						{{ partial "page-indicator.html" . }}
						<!-- // active page indicator - cloud/data -->
					</div>

					<h4 class="title">{{ block "tocTitle" . }}On This Page:{{ end }}</h4>
					<div id="current-page-nav-links" class="navbar flex-column align-items-start">
						{{ block "toc" . }}
						{{ partial "toc.html" . }}
						{{ end }}
					</div>
				</div>
			</nav>
			<!-- ======= START section:current page navigation ======= -->
		</section>

		<!-- ======= START section:customer-cta ======= -->
		{{ partial "customer-cta.html" . }}
		<!-- ======= END section:customer-cta ======= -->
	</main>

	<!-- ========= mobile cta ======== -->
	<section class="mobile-floating-cta" id="mobile-floating-cta">
	  <div class="content-wrap">
	    <div id="mobile-cta-close">
	      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
	        <path d="M9 1L1 9M1 1L9 9" stroke="#B4B6B8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
	      </svg>
	    </div>

	    <div class="content">
	      <h2 class="text-primary">{{ .Site.Title }}</h2>
				{{ with .Site.Params.tryItLink }}
				<div class="cta">
					<a class="btn btn-primary" href="{{ . }}" target="_blank">Try it free</a>
				</div>
				{{ end }}
	    </div>
	  </div>
	</section>
	<!-- ========= // mobile cta ======== -->
	{{ end }}

	<!-- ======= START footer ======= -->
	{{ partial "footer.html" . }}
	<!-- ======= START footer ======= -->

	{{ partial "scripts.html" . }}
</body>
</html>
