{{ define "content" }}
<div class="top-level-links">
	<h2 class="page-title">{{ .Title }}</h2>

	{{ .Content }}

	<ul class="sub-links">
		{{ range sort .Pages "Weight" }}
		<li>
			<a class="btn-link level-2" href="{{ .RelPermalink }}">{{ .Title }}</a>
		</li>
		{{ end }}
	</ul>
</div>
{{ end }}

{{ define "tocTitle" }}
<!-- Blank -->
{{ end }}

{{ define "toc" }}
<!-- Blank -->
{{ end }}
