{{ define "content" }}
{{ .Content }}

<div class="top-level-links">
	<ul class="sub-links">
		{{ range sort .Pages "Weight" }}
		<li>
			<a class="btn-link level-2" href="#{{ replace .File.BaseFileName "." "-" }}">{{ .Title }}</a>
		</li>
		{{ end }}
	</ul>
</div>

{{ range sort .Pages "Weight" }}
{{ $title := .Title }}
<div>
  <h2 id="{{ replace .File.BaseFileName "." "-" }}">{{ $title }}</h2>
  {{ .Content }}
	{{ with .Resources.GetMatch "screenshot.png" }}
	<div>
		<img src="{{ .RelPermalink }}" alt="{{ $title }}" style="display: block;margin: 0 auto;max-width: 720px;" />
	</div>
	{{ end }}
</div>
{{ end }}
{{ end }}

{{ define "tocTitle" }}
{{ .Title }}
{{ end }}

{{ define "toc" }}
{{ range sort .Pages "Weight" }}
<a class="nav-link" href="#{{ replace .File.BaseFileName "." "-" }}">{{ .Title }}</a>
{{ end }}
{{ end }}
