/**
 * Contains home page specific styles
 */
// ---- section 2: choose-service
.section-choose-service {
  padding: 100px 0;

  @include md {
    padding: 0;
  }

  .stage {
    padding-top: 200px;

    @include md {
      padding-top: 50px;
    }
  }

  // stage 1 styles
  #stage-1 {
    padding-top: 0;

    .col {
      position: relative;
      max-width: 1244px;
      padding: 0 248px;
    }

    @include md {
      display: none;
    }
  }

  #stage-2-cloud,
  #stage-2-datacenter {
    .col {
      position: relative;
      //max-width: 1244px;
      //padding: 0 248px;
      //padding: 0;

      .active-indicator {
        //left: -70px;
        position: relative;
        @include md {
          display: none;
        }
      }

      .info {
        padding-left: 40px;

        @include md {
          padding-left: 0;
        }
      }
    }
  }

  .active-indicator {
    display: none;
    position: absolute;
    left: -0px;
  }

  .active-stage {
    .active-indicator {
      display: block;
    }
  }

  .info {
    h2 {
      text-align: center;
      margin-bottom: 82px;

      @include md {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 20px;
        margin-top: 30px;
      }
    }
  }

  .cta {
    .btn-white {
      width: 45%;

      &.selected:hover {
        background: #FFB800 !important;
      }

      &.selected,
      &:focus,
      &:active {
        background-color: #FFD400;
        outline: none;
      }
    }
  }

  // stage 2 styles
  .option-boxes {
    padding-top: 90px;

    @include md {
      padding-top: 0;
    }

    .option-box {
      text-decoration: none;
      margin: 20px 0;
      text-align: center;
      border-radius: 3px;
      cursor: pointer;
      padding: 35px 20px 25px 20px;
      background-color: transparent;
      background-image: none;
      box-shadow: none;
      max-width: 367px;
      color: #161344;

      @include md {
        width: 45%;
      }

      @include sm {
        width: 45%;
      }

      &:hover {
        background-color: rgba(#E5EEFC, .3);
        //background-image: linear-gradient(121.75deg, rgba(12, 87, 199, 0.01) 0%, rgba(22, 199, 223, 0.01) 85.95%);
        //box-shadow: 0  4px 4px rgba(154, 188, 240, 0.24);
        box-shadow: 0 2px 14px 0 rgb(9 31 65 / 15%);
        transition: all .3s ease-in-out;

        .title {

          .text {
            color: #3D80E3;
          }
        }
      }
    }

    .icon {
      margin-bottom: 35px;
      text-align: center;

      img {
        max-width: 100%;
        display: block;
        margin: 0 auto;

        @include md {
          height: 180px;
          width: auto;
          margin: 0 auto;
        }

        @include sm {
          height: 93px;
        }
      }
    }

    .title {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;

      @include sm {
        justify-content: flex-start;
      }

      .arrow-icon {
        margin-right: 16px;
        margin-bottom: 0;
      }

      .text {
        font-weight: 600;
        font-size: 24px;
        @include md {
          font-size: 14px;
          text-align: left;
        }
      }
    }
  }
}
