// page with side bar
.page-sidebar-content-wrap {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  //max-width: 1920px;
  margin: 0 auto;
}

.screenshot {
  display: block;
  max-width: 100%;
  margin-bottom: 40px;
  cursor: pointer;
}
