.btn {
  color: #181840;
  font-weight: normal;
  font-size: 18px;
  padding: 15px 20px 12px 20px;
  line-height: 1;

  &:hover {
    background: #FFB800;
    border-color: #FFB800;
  }

  &.active {
    background-color: #FFD400;
  }
}

.btn-outline-primary {
  color: #FFD400;

  &:hover {
    color: #FFD400;
    border-color: #FFD400;
    background-color: transparent;
  }
}

.btn-white {
  background: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  text-align: center;
  letter-spacing: 0.15px;
  padding: 16px 25px 15.5px 25px;
  transition: all .3s ease-in-out;

  &:hover {
    background: #FFB800;
    border-color: #FFB800;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &:focus,
  &:visited,
  &:active {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}
