.dropdown-menu {
  z-index: 1030;

  .dropdown-item:hover,
  .dropdown-item:focus,
  .dropdown-item.active {
    background-color: rgba(200, 222, 255, 0.19);
    color: inherit;
  }
}
.dropdown-toggle::after {
  border: none;
  height: 15px;
  width: 20px;
  background-image: url("../img/dropdown-toggle.svg");
  background-repeat: no-repeat;
  vertical-align: -3px;
  margin-left: 25px;
}
