#site-footer {
  padding: 70px 0 30px;

  @include md {
    text-align: center;
  }

  .row {
    max-width: 1200px;
    margin: 0 auto 60px auto;

    @include md {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .footer-col {
    width: auto;

    @include md {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &-1 {
      max-width: 260px;

      @include md {
        max-width: 100%;
      }

      .icons {
        @include sm {
          img {
            width: 220px;
          }
        }
      }
    } // col - 1

  } // footer col

}

.site-footer {
  background-color: #F4F5F7;
  
  .about-us {
    font-style: normal;
    color: #12122e;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    @include sm {
      padding: 0 10px;
    }
  }

  .links {
    color: #313131;

    .title {
      font-style: normal;
      line-height: 21px;
      text-transform: uppercase;
      color: #161344;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 30px;
    }

    a {
      font-style: normal;
      font-size: 16px;
      line-height: 32px;
      color: #313131;
      text-decoration: none;

      &:hover {
        color: #3491FF;
      }

      @include md {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
}

.footer-bottom-links {
  @include md {
    flex-wrap: wrap;
  }
  a {
    padding: 0 10px;
    display: inline-block;
    border-right: 1px solid #c4c4c4;
    line-height: 1;
    font-size: 15px;
    color: #313131;
    text-decoration: none;

    @include md {
      font-size: 14px;
      margin: 3px 0;
    }

    &:last-child{
      border-right: 0;
    }
  }
}
