html,
body {
  height: 100%;
}

body {
  position: relative;
}

// visibility classes
.visible-md {
  display: none;

  @include md {
    display: block;
  }
}

.alert {
  p:last-child {
    margin-bottom: 0;
  }
}
