// --- mobile menu trigger
#mobile-menu-trigger {
  svg {
    * {
      fill: #FFD400;
    }
  }
}

.page-home {
  #mobile-menu-trigger {
    pointer-events: none;

    svg {
      * {
        fill: #CECECE;
      }
    }
  }
}

// --- end mobile menu trigger


#site-header {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  background-color: transparent;
  transition: all .3s ease-in-out;
  z-index: 9999;

  .row {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-mobile-trigger {
    display: none;
  }

  .text {
    margin-left: 20px;
    font-size: 24px;
    font-weight: 800;
  }

  &.is-sticky {
    background-color: #fff;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.04);
    padding: 12px 0;

    .text {
      color: #161344 !important;
    }
  }

  .cta {
    .btn {
      padding-left: 55px;
      padding-right: 55px;
    }
  }

  .brand-icon {
    img,
    svg {
      max-width: 60px;
      max-height: 60px;
    }
  }

  // responsive styles
  @include md {
    .col-cta-desktop {
      display: none !important;
    }
    .col-mobile-trigger {
      display: flex;
      align-content: center;
      align-items: center;
    }
    .brand-icon {
      justify-content: flex-end !important;

      img,
      svg {
        width: 44px;
        height: auto;
      }

      .text {
        display: none;
      }
    }
  }
}
