<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    {{ $docsBaseUrl := (cond (not .Site.Params.isCloud) (relURL "../") .Site.Params.onPremiseDocsBaseUrl) }}
    <li class="breadcrumb-item"><a href="{{ $docsBaseUrl }}">Documentation</a></li>
    <li class="breadcrumb-item"><a href="{{ relURL "" }}">{{ if .Site.Params.isCloud }}Cloud{{ else }}Data Center/Server{{ end }}</a></li>
     {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
  </ol>
</nav>

{{ define "breadcrumbnav" }}
{{ if .p1.Parent }}
{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
{{ else if not .p1.IsHome }}
{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
{{ end }}

{{ if (or (and .p1.IsHome (eq .p1 .p2)) (not .p1.IsHome)) }}
<li class="breadcrumb-item{{ if eq .p1 .p2 }} active{{ end }}" aria-current="page">
    <a href="{{ .p1.Permalink | relURL }}">{{ .p1.Title }}</a>
</li>
{{ end }}
{{ end }}
