<section class="section section-customer-cta">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="illustration">
          {{ $maskot := (cond (not .Page.Params.maskot) .Site.Params.maskot .Page.Params.maskot ) }}
          <img src="{{ (resources.Get $maskot).Permalink | relURL }}" alt="{{ .Site.Title }}">
        </div>
        <h2 class="text-light">Didn’t find what you were looking for?</h2>
        <div class="cta">
          <a href="https://marvelution.atlassian.net/servicedesk/customer/portal/3/group/-1" class="btn btn-primary">Open a ticket</a>
          <a href="https://marvelution.com/contact/" class="btn btn-outline-primary">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</section>
