<footer id="site-footer" class="site-footer">
  <div class="container">

    <!-- links row -->
    <div class="row d-flex justify-content-between">

      <!-- col: 1 -->
      <div class="footer-col footer-col-1">
        <p class="about-us">
          Marvelution is a software company that simplifies Jenkins in Jira, Compass, and Confluence
        </p>
        <div class="icons">
          <img src="{{ (resources.Get "img/Gold_Marketplace-Partner_BlkBlu_nobg_RGB.svg").Permalink | relURL }}" alt="Gold Marketplace Partner">
        </div>
      </div>

      <!-- col: 2 -->
      <div class="footer-col footer-col-2 links">
        <h4 class="title">Products</h4>
        <ul class="list-unstyled">
          <li><a href="https://marvelution.com/jenkins-integration-for-jira-core/">Jenkins for Jira</a></li>
          <li><a href="https://marketplace.atlassian.com/apps/1234756/jenkins-for-compass?tab=overview&hosting=cloud">Jenkins for Compass</a></li>
          <li><a href="https://marketplace.atlassian.com/apps/1236248/jenkins-for-confluence/?tab=overview&hosting=cloud">Jenkins for Confluence</a></li>
          <li><a href="https://marvelution.com/pricing/">Pricing</a></li>
        </ul>
      </div>

      <!-- col: 3 -->
      <div class="footer-col footer-col-3 links">
        <h4 class="title">marvelution</h4>
        <ul class="list-unstyled">
          <li><a href="https://marvelution.com/support/">Support</a></li>
          <li><a href="https://marvelution.com/faq/">FAQ</a></li>
          <li><a href="https://marvelution.com/about/">About</a></li>
        </ul>
        <div class="socials">
          <a href="https://www.linkedin.com/company/marvelution/" class="social">
            <img src="{{ (resources.Get "img/linkedin.svg").Permalink | relURL }}" alt="Find us in linkedin">
          </a>
          <a href="https://bitbucket.org/marvelution/" class="social">
            <img src="{{ (resources.Get "img/bitbucket.svg").Permalink | relURL }}" alt="Find us in Bitbucket">
          </a>
        </div>
      </div>

      <!-- col: 4 -->
      <div class="footer-col footer-col-4 links">
        <h4 class="title">Contact</h4>
        <p>
          Marvelution <br>
          Het Schaakbord 2 <br>
          1567MG Assendelft <br>
          Netherlands <br>
        </p>
        <p><a href="tel:+31757991051">+31 75 799 1051</a></p>
        <hr>
        <p><a href="mailto:info@marvelution.com">info@marvelution.com</a></p>
      </div>
      <!-- // end footer columns -->
    </div>
    <!-- // links row -->

    <!-- copyright and terms row -->
    <div class="row">
      <div class="footer-bottom-links d-flex justify-content-center">
        <a href="https://marvelution.com/security-statement/">Data Security Statement</a>
        <a href="https://marvelution.com/terms-and-conditions/">Terms</a>
        <a href="https://marvelution.com/privacy-policy/">Privacy</a>
        <a href="#">Sitemap</a>
      </div>
    </div>
    <!-- // copyright and terms row -->
  </div>
</footer>
