<header id="site-header">
  <div class="container">
    <div class="row">
      <div class="col col-mobile-trigger">
        <div id="mobile-menu-trigger">
          <svg width="36" height="21" viewBox="0 0 36 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="35.4167" height="2.08437" rx="1" />
            <rect y="9.3797" width="35.4167" height="2.08438" rx="1" />
            <rect y="18.7594" width="35.4167" height="2.08437" rx="1" />
          </svg>
        </div>
      </div>

      <div class="col col-8">
        <a href="/" class="brand-icon text-decoration-none d-flex justify-content-start align-items-center align-content-center">
          <div class="icon">
            <img src="{{ (resources.Get .Params.icon).Permalink | relURL }}" alt="{{ .Title }} Icon">
          </div>
          <div class="text text-light">
            {{ .Title }} <span class="highlight text-primary">Documentation</span>
          </div>
        </a>
      </div>

      {{ with .Params.tryItLink }}
      <div class="col col-4 col-cta-desktop  d-flex align-content-center align-items-center justify-content-end">
        <div class="cta text-end">
          <a class="btn btn-primary" href="{{ . }}" target="_blank">Try it free</a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</header>
