<head>
  <meta charset="utf-8">
  <meta name="theme-color" content="#fafafa">

  {{ if hugo.IsProduction }}
  <meta name="robots" content="all,follow">
  <meta name="googlebot" content="index,follow,snippet,archive">
  {{ else }}
  <meta name="robots" content="noindex">
  <meta name="googlebot" content="noindex">
  {{ end }}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {{ with .Site.LanguageCode }}<meta http-equiv="content-language" content="{{ . }}" />{{ end }}
  <meta name="author" content="Marvelution">
  {{ if .Description }}<meta name="description" content="{{ .Description }}">
  {{ else }}<meta name="description" content="{{ .Summary }}">{{ end }}
  {{ partial "html/canonical-link" . }}

  {{ $favicon := resources.Get "img/bulb-favicon.png" }}
  {{ range (slice "32" "192") }}
  {{ $image := $favicon.Resize (printf "%sx" . ) }}
  <link rel="icon" href="{{ $image.Permalink | relURL }}" sizes="{{ . }}x{{ . }}">
  {{ end }}

  {{ range .AlternativeOutputFormats }}
  <link rel={{ .Rel }} type="{{ safeHTML .MediaType.Type }}" href={{ .RelPermalink }}>
  {{ end }}

  <meta name="og:title" content="{{ .Title }} - {{ .Site.Title }} Docs">
  <meta property="og:type" content="website">
  {{ if .Description }}<meta name="og:description" content="{{ .Description }}">
  {{ else }}<meta name="og:description" content="{{ .Summary }}">{{ end }}
  <meta property="og:url" content="{{ .Permalink }}">
  {{ with .Site.LanguageCode }}<meta name="og:locale" content="{{ . }}">{{ end }}
  <meta property="og:site_name" content="{{ .Site.Title }} Documentation">

  {{ partial "html/style" "style" }}
  {{ with .Site.Params.additionalStyles }}
  {{ range . }}
  {{ partial "html/style" . }}
  {{ end }}
  {{ end }}

  {{ partial "html/script" "svg-inject" }}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      SVGInject(document.querySelectorAll('img[src$=".svg"]'), {
        onAllFinish: function() {}
      });
    });
  </script>

  {{ with .Site.Config.Services.GoogleAnalytics.ID }}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ . }}');
  </script>
  {{ end }}

  <title>{{ .Title }} - {{ .Site.Title }} Docs</title>
</head>
