<div class="sidebar-page-indicator d-flex align-items-center align-content-center">
  <div class="logo-mobile">
    <img src="{{ (resources.Get .Site.Params.maskot).Permalink | relURL }}" alt="{{ .Site.Title}} Maskot">
  </div>
  <span class="logo">
    {{ if .Site.Params.isCloud }}
    <img src="{{ (resources.Get "img/cloud-icon.svg").Permalink | relURL }}" alt="Cloud">
    {{ else }}
    <img src="{{ (resources.Get "img/data-center-icon.svg").Permalink | relURL }}" alt="Data Center/Server">
    {{ end }}
  </span>
  <span class="text">
    <span class="page-type d-block">{{ if .Site.Params.isCloud }}Cloud{{ else }}Data Center/Server{{ end }}</span>
    {{ if not .Site.Params.isCloud }}
    {{ $version := path.Base .Site.BaseURL }}
    <span class="version-no d-block">Version {{ $version }}</span>
    {{ end }}
  </span>
</div>
