{{ $currentpage := . }}
{{ $data := newScratch }}
{{ $data.Set "flatnav" slice }}
{{ range .Site.Menus.docs }}
  {{ template "flatten" (dict "entry" . "data" $data) }}
{{ end }}

{{ range $data.Get "flatnav" }}
  {{ if eq .Page $currentpage }}
    {{ $data.Set "current" . }}
  {{ else if and ($data.Get "current") (not ($data.Get "next")) }}
    {{ $data.Set "next" . }}
  {{ else if not ($data.Get "current") }}
    {{ $data.Set "prev" . }}
  {{ end }}
{{ end }}

<br />
{{ if $data.Get "current" }}
  {{ if ($data.Get "prev") }}
    {{ with ($data.Get "prev") }}
    Previous: <a href="{{ .URL }}">{{ .Name }}</a><br  />
    {{ end }}
  {{ end }}
  {{ with ($data.Get "next") }}
  Next: <a href="{{ .URL }}">{{ .Name }}</a><br  />
  {{ end }}
{{ else }}
  {{ range first 1 ($data.Get "flatnav") }}
  Next: <a href="{{ .URL }}">{{ .Name }}</a><br  />
  {{ end }}
{{ end }}

{{ define "flatten" }}
{{ $data := .data }}
{{ with .entry }}
  {{ $data.Add "flatnav" . }}
  {{ if and .HasChildren (ne .Page.Layout "merged-list") }}
    {{ range .Children }}
      {{ template "flatten" (dict "entry" . "data" $data) }}
    {{ end }}
  {{ end }}
{{ end }}
{{ end }}
