{{ define "menu-item" }}
	{{ $page := .page }}
	{{ with .entry }}
		{{ $active := or ($page.HasMenuCurrent "docs" .) ($page.IsMenuCurrent "docs" .) }}
		{{ if and (not $active) $page.Parent }}
			{{ $active := eq .Page $page.Parent }}
		{{ end }}
		{{ if .HasChildren }}
		<div class="menu-item has-sub-items">
			<a class="btn-link level-1{{ if ($page.IsMenuCurrent "docs" .) }} active{{ end }}" data-bs-toggle="collapse" href="#sub-{{ .Identifier }}" role="button" aria-expanded="{{ $active }}" aria-controls="sub-{{ .Identifier }}">
				{{ .Name }}
			</a>

			<div class="collapse{{ if $active }} show{{ end }}" id="sub-{{ .Identifier }}">
				<div class="sub-links">
					{{ range .Children }}
					{{ $childActive :=  or ($page.IsMenuCurrent "docs" .) (and ($page.HasMenuCurrent "docs" .) .HasChildren) }}
					<a class="btn-link level-2{{ if $childActive }} active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
					{{ end }}
				</div>
			</div>
		</div>
		{{ else }}
		<div class="menu-item">
			<a class="btn-link level-1{{ if $page.IsMenuCurrent "docs" . }} active{{ end }}" role="button" href="{{ .URL }}">{{ .Name }}</a>
		</div>
		{{ end }}
	{{ end }}
{{ end }}

<div class="sidebar-menu-links">
	{{ $page := . }}
	{{ range .Site.Menus.docs }}
	{{ template "menu-item" (dict "entry" . "page" $page) }}
	{{ end }}
</div>
