{{ define "main" }}
<main role="main">
  <!-- ======= START site section:hero ======= -->
  <section class="section section-hero hero-home">
    <!-- header height offset -->
    <div class="header-height-offset"></div>
    <!-- // header height offset -->
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <div class="illustration">
            <img src="{{ (resources.Get "img/lighthouse.svg").Permalink | relURL }}" alt="Lighthouse - {{ .Title }}">
          </div>
          <h1 class="text-light visible-md">Page not Found!1</h1>
          <h1 class="text-primary">Page not Found!1</h1>
          <p class="text-light">This is not the page you are looking for.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <section id="page-content" class="page-full-content">
      <p>
        Not to worry. You can head over to the <a href="/">homepage</a> to get back on track. Or jump to the documentation of
      </p>
      {{ range sort (where .Pages "Layout" "==" "landing") "Date"}}
        <p>
          {{ .Title }} Documentation
          <a href="{{ .Permalink }}cloud/">Cloud</a> - 
          <a href="{{ .Permalink }}latest/">Data Center/Server</a>
        </p>
      {{ end }}
    </section>
  </section>

  <!-- ======= START site section:customer-cta ======= -->
  {{ partial "customer-cta.html" . }}
  <!-- ======= END site section:customer-cta ======= -->
</main>
{{ end }}
