{{ $id := printf "expander%s" (delimit (shuffle (seq 1 9)) "") }}
<a data-bs-toggle="collapse" href="#{{ $id }}" role="button" aria-expanded="false" aria-controls="{{ $id }}">{{ .Get "text" }}</a>
<div class="collapse" id="{{ $id }}">{{ .Inner }}</div>
