<div class="alert alert-warning{{ with ( .Get "style" ) }} {{ . }}{{ end }}" role="alert">
	{{ with ( .Get "heading" ) }}<h5 class="alert-heading">{{ . }}</h5>{{ end }}
	{{- .Inner | markdownify -}}
</div>
