{{ $resourceName := .Get 0 }}
{{ $title := default .Page.Title (.Get 1) }}

{{ $resource := newScratch }}

{{ with .Page.Resources.Match $resourceName }}
{{ range first 1 . }}
{{ $resource.Set "screenshot" . }}
{{ end }}
{{ end }}

{{ if not ($resource.Get "screenshot") }}
{{ with resources.Match (printf "images/%s" $resourceName) }}
{{ range first 1 . }}
{{ $resource.Set "screenshot" . }}
{{ end }}
{{ end }}
{{ end }}

{{ with $resource.Get "screenshot" }}
{{ if strings.HasSuffix .Name "svg" }}
<div class="screenshot" data-lightbox-svg>
  <img src="{{ .RelPermalink }}" alt="{{ $title }}" />
</div>
{{ else }}
<img src="{{ .RelPermalink }}" alt="{{ $title }}" class="screenshot" data-lightbox />
{{ end }}
{{ end }}
